*.iml
.gradle
/local.properties
.idea
.DS_Store
/build
*/build
/captures
.externalNativeBuild
.cxx
local.properties
iosApp/Pods
iosApp/iosApp.xcworkspace/xcuserdata
iosApp/iosApp.xcworkspace/xcshareddata
iosApp/iosApp.xcodeproj/project.xcworkspace
iosApp/iosApp.xcodeproj/xcuserdata